// Base class
//
// Requires one of the contextual, color modifier classes for `color` and
// `background-color`.

.badge {
  display: inline-block;
  padding: $badge-padding-y $badge-padding-x;
  font-size: $badge-font-size;
  font-weight: $badge-font-weight;
  // line-height: 1; // @goorm: original
  line-height: 1.6666667; // @goorm: new
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  @include border-radius($badge-border-radius);
  border-width: 1px;// @goorm: add
  border-style: solid;// @goorm: add

  // Empty badges collapse automatically
  &:empty {
    display: none;
  }
}

// @goorm: add
// Size
//
// default | large

.badge-lg {
	padding: .1875rem .75rem;
  font-size: $badge-font-size-lg;
	line-height: $line-height-base;
}

// Quick fix for badges in buttons
.btn .badge {
  position: relative;
  top: -1px;
}

// Pill badges
//
// Make them extra rounded with a modifier to replace v3's badges.

.badge-pill {
	padding-right: $badge-pill-padding-x;
	padding-left: $badge-pill-padding-x;
  padding-top: $badge-pill-padding-y;// @goorm: add
  padding-bottom: $badge-pill-padding-y;// @goorm: add
  @include border-radius($badge-pill-border-radius);
  
  // &:not(.badge-lg) { // @goorm: new
  //   padding-right: $badge-pill-padding-x;
  // 	padding-left: $badge-pill-padding-x;
  //   line-height: $font-size-xl;
  // }
	
  // @goorm: add
  &.badge-sm {
    font-size: $badge-font-size-tn;
    line-height: $line-height-tn;
    padding: $badge-pill-padding-y-sm $badge-pill-padding-x-sm;
  }
  
  // @goorm: add
  &.badge-lg {
    padding: $badge-pill-padding-y-lg $badge-pill-padding-x-lg;
  }
}

// Colors
//
// Contextual variations (linked badges get darker on :hover).

@each $color, $value in $theme-colors {
  .badge-#{$color} {
    @include badge-variant($value);
  }
}

// @goorm: add
@each $color, $value in $theme-colors {
  .badge-outline-#{$color} {
    @include badge-outline-variant($value);
  }
}
