// stylelint-disable selector-no-qualifying-type

//
// Base styles
//

.btn {
  display: inline-block;
  cursor: pointer; // @goorm: new
  font-weight: $btn-font-weight;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: $btn-border-width solid transparent;
  @include button-size($btn-padding-y, $btn-padding-x, $font-size-base, $btn-line-height, $btn-border-radius);
  @include transition($btn-transition);

  // Share hover and focus styles
  @include hover-focus {
    text-decoration: none;
  }
  &:focus,
  &.focus {
    outline: 0;
    box-shadow: $btn-focus-box-shadow;
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    // opacity: $btn-disabled-opacity;	// @goorm: original
    @include box-shadow(none);
  }

  &:not([disabled]):not(.disabled):active,
  &:not([disabled]):not(.disabled).active {
    // background-image: none; // @goorm: original
    @include box-shadow($btn-focus-box-shadow, $btn-active-box-shadow);
  }
}

// Future-proof disabling of clicks on `<a>` elements
a.btn.disabled,
fieldset[disabled] a.btn {
  pointer-events: none;
}




//
// Alternate buttons
//

@each $color, $value in $theme-colors {
  .btn-#{$color} {
    @include button-variant($value, $value);
  }
}

@each $color, $value in $theme-colors {
  .btn-outline-#{$color} {
    @if $color == "light" {
      // @include button-outline-variant($value, $gray-900);// @goorm: original
      @include button-outline-variant($value, $gray-800);// @goorm: new
    } @else {
      @include button-outline-variant($value, $white);
    }
  }
}

/* @goorm: add class */
.btn-outline-white {
  @include button-outline-variant($white, $white);
  
  &:hover {
    color: $white;
    background-color: rgba(0, 0, 0, 0.3);
    // border-color: $primary; // @goorm: new
  }
}

/* @goorm: add class */
.btn-dropdown {
	min-width: 230px;
  border: 1px solid #CED0DA;
  border-radius: 4px;
  background: linear-gradient(0deg, #F3F5F8 0%, #FFFFFF 100%);
	color: #313338;
  text-align: left;
	font-size: 14px;
  position: relative;
  padding-right: .8125rem;
  padding-left: .8125rem;
  
  &.disabled,
  &:disabled {
    border: 1px solid #CED0DA;
    background: #F5F5F5;
    color: #CED0DA;
    opacity: 1;
  }
  
  &.btn::after {
    right:15px;
    top: 45%;
    position: absolute;
  }
  
  &:not([disabled]):not(.disabled):active,
  &:not([disabled]):not(.disabled).active {
    outline: 0;
    background: linear-gradient(0deg, #F0F2F5 0%, #F5F7FA 100%);
    box-shadow: none;
    border: 1px solid #609AE9;
  }
  
  &:focus,
  &.focus {
    outline: 0;
    box-shadow: none;
    border: 1px solid #609AE9;
  }
  
  /* @goorm: add class */
  &.btn-sm {
    padding: .21875rem .8125rem;
  }
  
  /* @goorm: add class */
  &.btn-lg {
    padding-left: .8125rem;
    padding-right: .8125rem;
  }
  
  /* @goorm : add class */
	.caret {
    color: $gray-500;
    margin-left: auto;
  }
}

/* @goorm: add class */
.btn-dropdown-dark {
  border: 1px solid #5F6675;
  background : #292D39;
	color: #FFFFFF;
  
  &.disabled,
  &:disabled {
    background: #3B4250;
    color: #CED0DA;
    opacity: 0.4;
  }
  
  &:not([disabled]):not(.disabled):active,
  &:not([disabled]):not(.disabled).active {
    background: #3B4250;
    border: 1px solid #609AE9;
  }
  
  .btn-dropdown-icon {
    color: #18BBB8;
	font-size: 16px;
	margin-right: 8px;
  }
  .btn-dropdown-org {
    opacity: 0.4;
  }
}


//
// Link buttons
//

// Make a button look and behave like a link
.btn-link {
  font-weight: $font-weight-normal;
  color: $link-color;
  background-color: transparent;

  @include hover {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
    background-color: transparent;
    border-color: transparent;
  }

  &:focus,
  &.focus {
    text-decoration: $link-hover-decoration;
    border-color: transparent;
    box-shadow: none;
  }

  &:disabled,
  &.disabled {
    color: $btn-link-disabled-color;
  }

  // No need for an active state here
}


//
// Button Sizes
//

.btn-lg {
  // @include button-size($btn-padding-y-lg, $btn-padding-x-lg, $font-size-lg, $btn-line-height-lg, $btn-border-radius-lg);// @goorm: original
  @include button-size($btn-padding-y-lg, $btn-padding-x-lg, $font-size-lg, $btn-line-height-lg, $btn-border-radius);// @goorm: new
}

.btn-sm {
  // @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $font-size-sm, $btn-line-height-sm, $btn-border-radius-sm);// @goorm: original
  @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $font-size-sm, $btn-line-height-sm, $btn-border-radius);// @goorm: new
}

// @goorm: new class
.btn-xs {
  @include button-size($btn-padding-y-xs, $btn-padding-x-xs, $font-size-sm, $btn-line-height-xs, $btn-border-radius);
}


//
// Block button
//

.btn-block {
  display: block;
  width: 100%;

  // Vertically space out multiple block buttons
  + .btn-block {
    margin-top: $btn-block-spacing-y;
  }
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}

/* @goorm: add class */
.btn-switch {
  position: relative;
  display: inline-block;
  margin: 0 0 0 auto;
  width: 1.875rem;
  height: 1rem;
}

/* @goorm: add class */
.btn-switch input {
  display: none;
}

/* @goorm: add class */
.btn-switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

/* @goorm: add class */
.btn-switch-slider:before {
  position: absolute;
  content: "";
  height: .75rem;
  width: .75rem;
  left: .125rem;
  top: .125rem;
  background-color: $white;
  -webkit-transition: .2s;
  transition: .2s;
}

/* @goorm: add class */
.btn-switch-slider.round {
  border-radius: 5.1875rem;
}

/* @goorm: add class */
.btn-switch-slider.round:before {
  border-radius: $custom-radio-indicator-border-radius;
}

/* @goorm: add class */
input:checked + .btn-switch-slider {
  background-color: #29B312;
}

/* @goorm: add class */
input:checked + .btn-switch-slider:before {
  left: 1rem;
}