//
// Base styles
//

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: $card-bg;
  background-clip: border-box;
  // border: $card-border-width solid $card-border-color;	// @goorm: original
  @include border-radius($card-border-radius);
  
  box-shadow: 0 .0625rem .1875rem 0 rgba(0,0,0,0.2);	// @goorm: add
  transition: box-shadow 0.2s ease;// @goorm: add

  > hr {
    margin-right: 0;
    margin-left: 0;
  }

  > .list-group:first-child {
    .list-group-item:first-child {
      @include border-top-radius($card-border-radius);
    }
  }

  > .list-group:last-child {
    .list-group-item:last-child {
      @include border-bottom-radius($card-border-radius);
    }
  }
  
  /* @goorm: add class */
  &.card-hover:hover {
    box-shadow: 0 .25rem 1rem 0 rgba(0,0,0,0.2);
  }
  
  /* @goorm: add class */
  &.card-horizontal {
    flex-direction: row;
    
    img {
      height: 100% !important;
    }
    
    .card-body {
      margin: 0;
    }
    
    .card-title {
      margin-bottom: .1875rem;
    }
  }
  
  /* @goorm: add class */
  &.card-progress {
    .card-body {
    	display: flex;
    	flex-direction: column;
    }
    
    .progress-wrapper {
      margin-top: auto;
      
      .progress-label {
        color: $gray-700;

        span {
          font-size: $font-size-lg;
        }
      }

      .progress,
      .progress-bar {
        height: .375rem;
      }
    }
  }

  /* @goorm: add class */
  &.card-goorm {
    @include border-radius(.1875rem);
    box-shadow: .125rem .125rem .1875rem 0 rgba(0,0,0,0.2);
    width: 16.375rem;

    img {
      height: 8.625rem;
    }

    .card-body {
      padding: 1rem 1.25rem;
      height: 8.875rem;
    }

    .card-title {
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: left;
      height: $headings-line-height * 2em;
      white-space: normal;
      word-wrap: break-word;
      display: -webkit-box !important;
      -webkit-line-clamp: 2;
      /* autoprefixer: off */
      -webkit-box-orient: vertical;
    }

    .card-footer {
      margin: 0 20px;
      border-color: #E7E8ED;
    }
  }
}

/* @goorm: add */
.card-band,
.card-band-top,
.card-band-bottom {
  width: 100%;
  height: $card-band-height;
}

/* @goorm: add */
.card-band-top {
  @include border-top-radius($card-inner-border-radius);
}

/* @goorm: add */
.card-band-bottom {
  @include border-bottom-radius($card-inner-border-radius);
}

/* @goorm: add */
@each $color, $value in $theme-colors {
  .card-band-#{$color} {
    background-color: $value;
  }
}

/* @goorm: add class */
.well {
  .card-body {
    padding: 1.25rem;
  }
  
  &.well-sm {
    .card-body {
      padding: $card-spacer-y;
    }
  }
  
  &.well-lg {
    .card-body {
      padding: 1.5rem;
    }
  }
}

.card-body {
  // Enable `flex-grow: 1` for decks and groups so that card blocks take up
  // as much space as possible, ensuring footers are aligned to the bottom.
  flex: 1 1 auto;
  // padding: $card-spacer-x;	// @goorm: original
  padding: $card-spacer-y $card-spacer-x;	// @goorm: new
  
  /* @goorm: add class */
  img + & {
    padding: .9375rem;
  }
}

.card-title {
  // margin-bottom: $card-spacer-y;	// @goorm: original
  margin-bottom: .5rem;	// @goorm: new
}

.card-subtitle {
  margin-top: -($card-spacer-y / 2);
  margin-bottom: 0;
}

.card-text:last-child {
  margin-bottom: 0;
}

.card-link {
  @include hover {
    text-decoration: none;
  }

  + .card-link {
    margin-left: $card-spacer-x;
  }
}

//
// Optional textual caps
//

.card-header {
  padding: $card-spacer-y $card-spacer-x;
  margin-bottom: 0; // Removes the default margin-bottom of <hN>
  // background-color: $card-cap-bg;	// @goorm: original
  border-bottom: $card-border-width solid $card-border-color;
  
  font-size: $font-size-lg;	// @goorm: add
  font-weight: $font-weight-bold;	// @goorm: add

  &:first-child {
    @include border-radius($card-inner-border-radius $card-inner-border-radius 0 0);
  }

  + .list-group {
    .list-group-item:first-child {
      border-top: 0;
    }
  }
}

.card-footer {
  padding: $card-spacer-y $card-spacer-x;
  // background-color: $card-cap-bg;	// @goorm: original
  border-top: $card-border-width solid $card-border-color;

  &:last-child {
    @include border-radius(0 0 $card-inner-border-radius $card-inner-border-radius);
  }
}


//
// Header navs
//

.card-header-tabs {
  margin-right: -($card-spacer-x / 2);
  margin-bottom: -$card-spacer-y;
  margin-left: -($card-spacer-x / 2);
  border-bottom: 0;
}

.card-header-pills {
  margin-right: -($card-spacer-x / 2);
  margin-left: -($card-spacer-x / 2);
}

// Card image
.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: $card-img-overlay-padding;
}

.card-img {
  width: 100%; // Required because we use flexbox and this inherently applies align-self: stretch
  @include border-radius($card-inner-border-radius);
}

// Card image caps
.card-img-top {
  width: 100%; // Required because we use flexbox and this inherently applies align-self: stretch
  @include border-top-radius($card-inner-border-radius);
}

.card-img-bottom {
  width: 100%; // Required because we use flexbox and this inherently applies align-self: stretch
  @include border-bottom-radius($card-inner-border-radius);
}

/* @goorm: add */
.card-img-left {
  width: 100%; // Required because we use flexbox and this inherently applies align-self: stretch
  @include border-left-radius($card-inner-border-radius);
}

/* @goorm: add */
.card-img-float {
  margin-top: $card-img-float-margin-top;
  align-self: center;
}


// Card deck

.card-deck {
  display: flex;
  flex-direction: column;

  .card {
    margin-bottom: $card-deck-margin;
  }

  @include media-breakpoint-up(sm) {
    flex-flow: row wrap;
    margin-right: -$card-deck-margin;
    margin-left: -$card-deck-margin;

    .card {
      display: flex;
      // Flexbugs #4: https://github.com/philipwalton/flexbugs#4-flex-shorthand-declarations-with-unitless-flex-basis-values-are-ignored
      flex: 1 0 0%;
      flex-direction: column;
      margin-right: $card-deck-margin;
      margin-bottom: 0; // Override the default
      margin-left: $card-deck-margin;
    }
  }
}


//
// Card groups
//

.card-group {
  display: flex;
  flex-direction: column;

  .card {
    margin-bottom: $card-group-margin;
  }

  @include media-breakpoint-up(sm) {
    flex-flow: row wrap;

    .card {
      // Flexbugs #4: https://github.com/philipwalton/flexbugs#4-flex-shorthand-declarations-with-unitless-flex-basis-values-are-ignored
      flex: 1 0 0%;
      margin-bottom: 0;

      + .card {
        margin-left: 0;
        border-left: 0;
      }

      // Handle rounded corners
      @if $enable-rounded {
        &:first-child {
          @include border-right-radius(0);

          .card-img-top,
          .card-header {
            border-top-right-radius: 0;
          }
          .card-img-bottom,
          .card-footer {
            border-bottom-right-radius: 0;
          }
        }

        &:last-child {
          @include border-left-radius(0);

          .card-img-top,
          .card-header {
            border-top-left-radius: 0;
          }
          .card-img-bottom,
          .card-footer {
            border-bottom-left-radius: 0;
          }
        }

        &:only-child {
          @include border-radius($card-border-radius);

          .card-img-top,
          .card-header {
            @include border-top-radius($card-border-radius);
          }
          .card-img-bottom,
          .card-footer {
            @include border-bottom-radius($card-border-radius);
          }
        }

        &:not(:first-child):not(:last-child):not(:only-child) {
          @include border-radius(0);

          .card-img-top,
          .card-img-bottom,
          .card-header,
          .card-footer {
            @include border-radius(0);
          }
        }
      }
    }
  }
}


//
// Columns
//

.card-columns {
  .card {
    margin-bottom: $card-columns-margin;
  }

  @include media-breakpoint-up(sm) {
    column-count: $card-columns-count;
    column-gap: $card-columns-gap;

    .card {
      display: inline-block; // Don't let them vertically span multiple columns
      width: 100%; // Don't let their width change
    }
  }
}
