.close {
  float: right;
  // font-size: $close-font-size; // @goorm: original (not using)
  font-weight: $close-font-weight;
  // line-height: 1; // @goorm: original (use inherit)
  color: $close-color;
  // text-shadow: $close-text-shadow; // @goorm: original (not using)
  // opacity: .5; // @goorm: original
  opacity: .75;  // @goorm: new
  
  @include hover-focus {
    // color: $close-color; // @goorm: original (not using)
    // text-decoration: none; // @goorm: original (not using)
    // opacity: .75; // @goorm: original
    opacity: 1; // @goorm: new
  }
}

// Additional properties for button version
// iOS requires the button element instead of an anchor tag.
// If you want the anchor version, it requires `href="#"`.
// See https://developer.mozilla.org/en-US/docs/Web/Events/click#Safari_Mobile

// stylelint-disable property-no-vendor-prefix, selector-no-qualifying-type
button.close {
  padding: 0;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
}
// stylelint-enable
