// Base class
//
// Kickstart any navigation component with a set of style resets. Works with
// `<nav>`s or `<ul>`s.

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-link {
  display: block;
  padding: $nav-link-padding-y $nav-link-padding-x;
  
  @include hover-focus {
    text-decoration: none;
  }
  
  // Disabled state lightens text
  &.disabled {
    color: $nav-link-disabled-color;
  }
}

/* @goorm: add */
.nav-lg .nav-link {
  font-size: $nav-link-font-size-lg;
  padding: $nav-link-padding-y-lg $nav-link-padding-x-lg;
}

//
// Tabs
//

.nav-tabs {
  border-bottom: $nav-tabs-border-width solid $nav-tabs-border-color;

  .nav-item {
    margin-bottom: -$nav-tabs-border-width;
  }

  .nav-link {
    border: $nav-tabs-border-width solid transparent;
    @include border-top-radius($nav-tabs-border-radius);

    @include hover-focus {
      border-color: $nav-tabs-link-hover-border-color;
    }

    &.disabled {
      color: $nav-link-disabled-color;
      background-color: transparent;
      border-color: transparent;
    }
  }

  .nav-link.active,
  .nav-item.show .nav-link {
    color: $nav-tabs-link-active-color;
    background-color: $nav-tabs-link-active-bg;
    border-color: $nav-tabs-link-active-border-color;
  }

  .dropdown-menu {
    // Make dropdown border overlap tab border
    margin-top: -$nav-tabs-border-width;
    // Remove the top rounded corners here since there is a hard edge above the menu
    @include border-top-radius(0);
  }
}

/* @goorm: add class */
.tab-scroll {
  overflow: hidden;
  height: 4.0625rem;
  position: relative;
  
  .nav {
    overflow: auto;
    padding-bottom: .9375rem;
    flex-wrap: unset;
    
    &.nav-right {
      *:first-child {
        margin-left: auto;
      }
    }
  }
  
  .tab-scroller {
    position: absolute;
    top: 0;
    height: 100%;
    width: 4.4375rem;
    display: flex;
    align-items: center;
    z-index: 1;
    
    &.prev {
    	background: linear-gradient(90deg, $white 0%, rgba(250,250,250,0) 100%);	// opaque color should be changed with its background color
      padding-left: .25rem;
    }
    
    &.next {
      right: 0;
      justify-content: flex-end;
    	background: linear-gradient(90deg, rgba(250,250,250,0) 0%, $white 100%);	// opaque color should be changed with its background color
      padding-right: .25rem;
    }
    
    .btn {
      height: 1.625rem;
      width: 1.625rem;
      border-radius: 50%;
      background-color: $white;
      border-color: $text-muted;
      color: $text-muted;
      padding: 0;
    }
  }
  
  // @goorm: override
  .nav-underline {
    .nav-link {
      &.active {
        bottom: 1px;
      }
    }
  }
}

//
// Pills
//

.nav-pills {
  .nav-link {
    @include border-radius($nav-pills-border-radius);
  }

  .nav-link.active,
  .show > .nav-link {
    color: $nav-pills-link-active-color;
    background-color: $nav-pills-link-active-bg;
  }
}


/* @goorm: add class */
//
// Underline
//

.nav-underline {
  border-bottom: $nav-underline-border-width solid $nav-underline-border-color;
  
  .nav-link {
    padding-top: $nav-underline-link-padding-y;
    padding-bottom: $nav-underline-link-padding-y;
    position: relative;
    color: $nav-underline-link-color;
    font-size: $nav-link-font-size-base;
    
    &:hover {
      color: $nav-underline-link-color;
    }

    &.active {
      color: $nav-underline-link-active-color;
      font-weight: $font-weight-bold;	// @goorm: add

      &:after {
        display: block;
        position: absolute;
        content: "";
        width: $nav-underline-link-active-border-size;
        height: $nav-underline-link-active-border-width;
        bottom: 0;
        background-color: $nav-underline-link-active-border-color;
      }
    }
  }
}


//
// Justified variants
//

.nav-fill {
  .nav-item {
    flex: 1 1 auto;
    text-align: center;
  }
}

.nav-justified {
  .nav-item {
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
  }
}


// Tabbable tabs
//
// Hide tabbable panes to start, show them when `.active`

.tab-content {
  > .tab-pane {
    display: none;
  }
  > .active {
    display: block;
  }
}
