// stylelint-disable selector-no-qualifying-type

.fade {
  opacity: 0;
  @include transition($transition-fade);

  &.show {
    opacity: 1;
  }
}

.collapse {
  display: none;
  &.show {
    display: block;
  }
}

// @goorm: ßaccordion
.accordion {
  &.side_nav {
    border: $border-width solid $gray-400;
    
    a:hover {
      background-color: $dropdown-link-hover-bg;
      color: #4F85E3;
    }
  }
  
	a {
		text-decoration: none;
    
    display: flex;
    
    color: inherit;
    
    align-items: center;
    
    &:not(.on) .right-icon {
      color: $light;
    }
    &:hover .right-icon {
      color: #4F85E3;
    }
	}
  
  @for $i from 1 through 2 {
    .depth#{$i}-icon {
      margin-right: 8px;
  	}
  }

	.depth-icon {
    margin-right: 1.25rem;
  }
  
	.depth1 {
		> a {
			padding: .625rem 1.125rem;
      
			&.on, &:hover {
        background-color: $dropdown-link-hover-bg;
        color: #4F85E3;
      }
		}
	}
	.depth2 {
		> a {
			padding: .1875rem 0 .1875rem 3.4375rem;
      line-height: 2.25rem;
			&.on, &:hover {
				background-color: $dropdown-link-hover-bg;
				color: #4F85E3;
			}
		}	
	}
  
  .caret {
    font-size: 112.5%;
    
    margin-left: auto !important;
  }
  
	.down_caret {
		display: block;
	}
  
	.right_caret,
  .caret-collapsed {
		display: none;
	}
  
  .collapsed {
    .right_caret,
    .caret-collapsed {
      display: block;
    }
    
    .down_caret,
    .caret-opened {
      display: none;
    }
  }
  
	&.dark_theme {
		a {
			color: #FFFFFF;
			background-color: #2B3240;
      
			&.on,
      		&:hover {
        		background-color: #353F50;
				color: #3D81E0;
			}
		}
    
		.depth2 {
			a {
				color: $gray-400;
				background-color: #222833;
				&.on, &:hover {
					color:#3D81E0;
					background-color:#353F50;
				}
			}
		}
	}
}

tr {
  &.collapse.show {
    display: table-row;
  }
}

tbody {
  &.collapse.show {
    display: table-row-group;
  }
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  @include transition($transition-collapse);
}
